<!DOCTYPE html>
<html lang="en">
<head>
    <title>Media Library | Cornell Language Resource Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'website/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'website/normalize.css' %}" />
</head>
<body>
<main>

{% block content %}{% endblock %}

</main>
</body>
</html>
